
#disambiguation-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#disambiguation-search-bar {
    display: flex;
    flex-direction: row;
    margin: 0 0;
}

#disambiguation-search-bar > button {
    position: relative;
}

#disambiguation-search-bar > button > img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#disambiguation-status {
    padding: 0;
    margin: 5px;
}

/*
#disambiguation-main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-bottom: 7px;
}
*/
#disambiguation-main {
    position: relative;
    width: 100%;
    height: 100vh;
}

#disambiguation-map {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

#disambiguation-pane {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
    width: 40%;
    max-height: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#disambiguation-pane header {
    padding-top: 0;
    margin-bottom: 15px;
}

#disambiguation-geoms {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
}

#disambiguation-geom-table {
}

#disambiguation-geom-table tr a {
    color: #7f888f;
}

#disambiguation-geom-table tr a:hover {
    color: #7f888f !important;
}

#disambiguation-geom-table tbody tr:hover {   
    background-color: rgba(240, 178, 35, 0.33);
}

.admin-candidate-row {
    position: relative;
}

.similar-geom-admin {
    position: relative;
}

.row-buttons {
    visibility: hidden;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#disambiguation-geom-table tbody tr.in-basket .row-buttons {
    visibility: visible !important;
}

#disambiguation-geom-table tbody tr:hover .row-buttons {
    visibility: visible;
}

.row-buttons button {
    color: black !important;
    box-shadow: inset 0 0 0 2px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-buttons button img {
    width: 15px;
    height: 15px;
}

.add-to-cart {
    display: block !important;
}

#disambiguation-geom-table tr.in-basket .add-to-cart {
    display: none !important;
}

.remove-from-cart {
    display: none !important;
}

#disambiguation-geom-table tr.in-basket .remove-from-cart {
    display: block !important;
}

.selected-geom-row {
    background-color: rgb(240, 178, 35) !important;
}

.selected-geom-row > .row-buttons {
    visibility: visible;
}




.similar-geoms-loading td span {
    display: flex;
    align-items: center;
    font-weight: italic;
    padding: 10px;
}

.similar-geoms-loading td span img {
    height: 30px;
    margin: 5px;
}

.similar-geom-admin {
}

.admin-name {
    width: 20%;
}

.admin-source {
    font-style: italic;
}

.similar-geom-admin .admin-name-div {
    padding-left: 30px;
}

.admin-name-match-percent div, .similar-geom-match-percent div, .admin-level div, .admin-geom-lineres div, .admin-time div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-name-match-percent div img, .similar-geom-match-percent div img, .admin-level div img, .admin-geom-lineres div img, .admin-time div img {
    height: 15px;
    margin: 3px;
}
