
#disambiguation-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#disambiguation-search-bar {
    display: flex;
    flex-direction: row;
    margin: 0 0;
}

#disambiguation-status {
    padding: 0;
    margin: 5px;
}

#disambiguation-main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-bottom: 7px;
}

#disambiguation-map {
    width: 30%;
    flex-grow: 1;
    flex-shrink: 0;
}

#disambiguation-geoms {
    width: 70%;
    height: 280px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
}

#disambiguation-geom-table {   
}

#disambiguation-geom-table tr a {
    color: #7f888f;
}

#disambiguation-geom-table tr a:hover {
    color: #7f888f !important;
}

#disambiguation-geom-table tbody tr:hover {   
    background-color: rgba(240, 178, 35, 0.33);
}

.selected-geom-row {
    background-color: rgb(240, 178, 35) !important;
}




.similar-geoms-loading td span {
    display: flex;
    align-items: center;
    font-weight: italic;
    padding: 10px;
}

.similar-geoms-loading td span img {
    height: 30px;
    margin: 5px;
}

.similar-geom-admin {
}

.admin-name {
    width: 20%;
}

.admin-source {
    font-style: italic;
}

.similar-geom-admin .admin-name-div {
    padding-left: 30px;
}

.admin-name-match-percent div, .similar-geom-match-percent div, .admin-level div, .admin-geom-lineres div, .admin-time div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-name-match-percent div img, .similar-geom-match-percent div img, .admin-level div img, .admin-geom-lineres div img, .admin-time div img {
    height: 15px;
    margin: 3px;
}
