
#map-search-div {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
}

#search-pane {
    width: 80%;
    height: 400px;
    margin: 0;
}

#search-bar {
    display: flex;
}

#search-options-bar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 5px 0;
}

#search-options-bar a {
    cursor: pointer;
}

#search-results {
    width: 100%;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 15px 0px;
}

.search-item {
    width: 98%;
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin: 3px;
    background-color: inherit;
    transition: background-color 0.3s ease-in;
    position: relative;
}

.search-item:hover {
    background-color: rgba(240, 178, 35, 0.22);
    transition: background-color 0.3s ease-in;
}

.search-item.clicked {
    background-color: rgb(240, 178, 35);
    transition: none;
}

.search-thumbnail {
    width: 50px;
    height: 50px;
}

.search-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10px;
}

.search-info-query {
    margin-left: -10px;
    margin-bottom: 3px;
}

.search-info-ambiguity {
    background-color: gray;
    min-width: 30px;
    padding: 1px 5px;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
}

.search-item-buttons {
    display: flex;
    flex-direction: column-reverse;
}

.search-item-dropbut {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
}

#export-div h3 {
    margin: 0;
}

#export-bar {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin-bottom: 10px;
}

#export-bar h4 {
    margin: 10px;
}
