{% extends "base.html" %}

{% load static %}

{% block page_content %}

<section id="banner">
    <div class="content">

        <header>
            <h2>Sources of Administrative Boundary Data</h2>
            <p>fsdkfsd gdfgdf fdgfg dfg fksdfls.</p>
        </header>

        <div id="sources" class="tab-container">
            <ul class='etabs'>
                <li class='tab'><a href="#datasets-tab">Datasets ({{ datasets.count }})</a></li>
            </ul>
            <div class="tab-container">
                <div id="datasets-tab" class="panel-container">
                    {% include 'adminManager/datasets.html' %}
                </div>
            </div>
        </div>

        <script>
            // init easytabs
            $('#sources').easytabs({animate:false});
        </script>
    
    </div>
</section>

{% endblock %}
