{% extends "base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminManager/css/source_data.css' %}" type="text/css">

<section>
    <div class="content">
        <header>

            <div id="dataset-header-div">
                <div class="row">
                    <img height="30px" src="{% static 'images/dataset.png' %}">
                    <h2 style="text-align:left">
                        Dataset: &nbsp;&nbsp;{{ source.name }}
                    </h2>
                </div>
                <div>
                    <a class="button" href="{% url 'dataset_delete' source.pk %}" onclick="return confirm('This will delete the source and all of its data.')">Delete</a>
                    <a class="button" href="{% url 'dataset_edit' source.pk %}">Edit</a>
                </div>
            </div>

            <div class="box">

                <div id="map-info-div">

                    <div id="map"></div>

                    <div id="map-info">

                        <span style="vertical-align:top">URL: 
                        <a href="{{ source.url }}">{{ source.url|slice:":60" }}...</a>
                        </span>

                        <br>

                        <span style="vertical-align:top">Valid from: 
                        {{ source.valid_from }}
                        </span>

                        <br>

                        <span style="vertical-align:top">Valid to: 
                        {{ source.valid_to }}
                        </span>

                        <br>
                    
                        <span style="vertical-align:top">Citation: 
                        {{ source.citation }}
                        </span>

                        <br>
                    
                        <span style="vertical-align:top">Source Note: 
                        {{ source.note }}
                        </span>

                        <br>

                        <div id="import-menu">
                            <span>Processed: {{ processed_count }} of {{ source.importers.all.count }}</span>
                            <span>Failed: {{ fail_count }}</span>
                            <a class="button small" href="{% url 'datasource_clear' source.pk %}"  onclick="return confirm('This will delete all boundaries imported from this source.')">Clear Data</a>
                            <a class="button small" href="{% url 'datasource_import' source.pk %}">Import Pending</a>
                        </div>

                        <div id="dataset-input-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>File URL</th>
                                    <th>Level</th>
                                    <th>Status</th>
                                    <th>Status updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for importer in source.importers.all %}
                                    <tr>
                                        <td><a href="{{ importer.import_params.path }}" target="_blank">{{ importer.import_params.path|slice:"-16:" }}</a></td>
                                        <td>{% with importer.import_params.levels|last as last %}{{ last.level }}{% endwith %}</td>
                                        <td><span class="importer-status" data-status="{{ importer.import_status }}">{{ importer.import_status }}<span></td>
                                        <td>{{ importer.status_updated }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</section>

<script src="{% static 'adminManager/js/source_data.js' %}"></script>

<script>
    // add src geojson to map
    coll = "{{ toplevel_geojson|safe }}";
    feats = new ol.format.GeoJSON().readFeatures(coll, {dataProjection: 'EPSG:4326', featureProjection: 'EPSG:3857'});
    resultLayer.getSource().addFeatures(feats);
</script>

{% endblock %}
