{% extends "base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<section>
    <div class="content">
        <header>
            <button style="float:right" type="submit" form="form1">Save</button>
            <a class="button" style="float:right" href="{% url 'dataset' form.instance.pk %}">Cancel</a>

            <div class="row">
                <img height="30px" src="{% static 'images/dataset.png' %}">
                <h2 style="text-align:left">
                    Editing Data Source
                </h2>
            </div>
        </header>

        <div>
            <form id="form1" method="POST" action="{% url 'dataset_edit' form.instance.pk %}">
                {% csrf_token %}

                <div id="tabs">
                    <ul class='etabs'>
                        <li class='tab'><a href="#metadata-tab">Metadata</a></li>
                    </ul>
                    <div class="tab-container">
                        <div id="metadata-tab" class="panel-container">
                            <table>
                                {{ form.as_table }}
                            </table>
                        </div>
                    </div>
                </div>

                <script>
                    // init easytabs
                    $('#tabs').easytabs({animate:false});
                </script>
            </form>
        </div>

        <br><br>

    </div>
</section>

{% endblock %}
