{% extends "base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminManager/css/source_data.css' %}" type="text/css">

<section>
    <div class="content">
        <header>
            <div class="row">
                <img height="30px" src="{% static 'images/dataset.png' %}">
                <h2 style="text-align:left">
                    Dataset: &nbsp;&nbsp;{{ source.name }}
                </h2>
            </div>

            <a class="button" style="float:right" href="{% url 'dataset_edit' source.pk %}">Edit</a>

            <div id="tabs">
                <ul class='etabs'>
                    <li class='tab'><a href="#overview-tab">Overview</a></li>
                    <li class='tab'><a href="#import-tab">Import</a></li>
                </ul>
                <div class="tab-container">
                    <div id="overview-tab" class="panel-container">
                        <div id="map-info-div">
                            <div id="map"></div>
                            <p id="map-info">
                                <span style="vertical-align:top">URL: 
                                <a href="{{ source.url }}">{{ source.url }}</a>
                                </span>

                                <br>

                                <span style="vertical-align:top">Valid from: 
                                {{ source.valid_from }}
                                </span>

                                <br>

                                <span style="vertical-align:top">Valid to: 
                                {{ source.valid_to }}
                                </span>

                                <br>
                            
                                <span style="vertical-align:top">Citation: 
                                {{ source.citation }}
                                </span>

                                <br>
                            
                                <span style="vertical-align:top">Source Note: 
                                {{ source.note }}
                                </span>
                            </p>
                        </div>
                    </div>

                    <div id="import-tab" class="panel-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Path</th>
                                    <th>Levels</th>
                                    <th>Last imported</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for importer in source.importers %}
                                    <tr>
                                        <td>{{ importer.import_params.path }}</td>
                                        <td>{{ importer.import_params.levels|length }}</td>
                                        <td>{{ importer.last_imported }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <script>
                // init easytabs
                $('#tabs').easytabs({animate:false});
            </script>

    </div>
</section>

<script src="{% static 'adminManager/js/source_data.js' %}"></script>

{% endblock %}
