{% extends "base.html" %}

{% load static %}

{% block page_content %}

<script src="{% static 'js/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ol.css' %}" type="text/css">

<section>
    <div class="content">
        <header>
            <div class="row">
                <img height="30px" src="{% static 'images/map.png' %}">
                <h2 style="text-align:left">
                    Editing Map Source
                </h2>
            </div>

            <button style="float:right" type="submit" form="form1">Submit</button>

            <p>
                Some instructions here... 
            </p>

        </header>

        <div>
            <form id="form1" method="POST" action="{% url 'map_edit' form.instance.pk %}">
                {% csrf_token %}

                <div id="tabs">
                    <ul class='etabs'>
                        <li class='tab'><a href="#overview-tab">Overview</a></li>
                        <li class='tab'><a href="#digitizer-tab">Map Data</a></li>
                    </ul>
                    <div class="tab-container">
                        <div id="overview-tab" class="panel-container">
                            <table>
                                {{ form.as_table }}
                                <tr>
                                    <th style="vertical-align:top; padding-top:15px">
                                    Preview:
                                    </th>
                                    <td><img id="img-preview"></td>
                                </tr>
                            </table>
                        </div>

                        <div id="digitizer-tab" class="panel-container">
                            {% include "mapDigitizer/digitize_map.html" %}
                        </div>

                    </div>
                </div>

            </form>

            <script>
                // init easytabs
                $('#tabs').easytabs({animate:false});
            </script>

    </div>
</section>

<script>
    function previewImage() {
        url = document.getElementById('id_url').value;
        if (url.endsWith('.jpg') | url.endsWith('.png')) {
            img = document.getElementById('img-preview');
            img.src = url;
        };
    };
    urlInput = document.getElementById('id_url');
    urlInput.addEventListener('input', previewImage, true);
    // init
    previewImage();
</script>

{% endblock %}
