
.rjf-form-group {
    max-width: 100% !important;
    margin: 15px 5px;
}

.rjf-form-group-wrapper {
    max-width: 100% !important;
}

.rjf-form-row-inner {
    padding: 5px !important;
}

.rjf-input-group {
    max-width: 100% !important;
    width: 100% !important; 
}

.rjf-form-group-wrapper .rjf-form-group-wrapper .rjf-form-group-inner {
    display: flex;
}

.rjf-form-row input {
    max-width: 100% !important;
    width: 100% !important; 
}

input {
    appearance: auto !important;
    -webkit-appearance: auto !important;
    opacity: unset !important;
    margin-right: unset !important;
}
