
#dataset-header-div {
    display: flex;
    justify-content: space-between;
}

#dataset-header-div h3 {
    margin: 3px !important;
}

#map-info-div {
    display: flex;
}

#map-info {
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

#map {
    width: 100%;
    height: 470px;
}

#dataset-input-table {
    margin-top: 20px;
    margin-left: 20px;
    max-height: 300px;
    overflow: auto;
}

#import-menu {
    display: flex;
    justify-content: space-between;
}

.importer-status {
    padding: 3px;
    border-radius: 3px;
}

.importer-status[data-status="Pending"] {
    background-color: gray;
    color: white;
}

.importer-status[data-status="Importing"] {
    background-color: orange;
    color: white;
}

.importer-status[data-status="Imported"] {
    background-color: green;
    color: white;
}

.importer-status[data-status="Failed"] {
    background-color: orangered;
    color: white;
}



