<div id="disambiguation-content">

    <div id="disambiguation-search-bar">
        <input id="disambiguation-search-input" type="text">
        <button type="button">Update Search</button>
    </div>

    <div>
        <div id="disambiguation-status">Initiating...</div>
    </div>

    <div id="disambiguation-main">

        <div id="disambiguation-map">
        </div>

        <div id="disambiguation-geoms">
            <table id="disambiguation-geom-table">
                <thead>
                    <tr>
                        <th style="width:30%">Name</th>
                        <th>Match</th>
                        <th>Source</th>
                        <th>Year Validity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    <div class="popup-buttons">
        <button type="button" onclick="saveDisambiguator()">Save</button>
        <button type="button" onclick="cancelDisambiguator()">Close</button>
    </div>

</div>