
{% load static %}

<link rel="stylesheet" href="{% static 'adminGeocoder/css/map.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminGeocoder/css/disambiguator.css' %}" type="text/css">

<div id="disambiguation-content">

    <div id="disambiguation-main">

        <div id="disambiguation-map">
        </div>

        <div id="map-loading">
            <img src="{% static 'images/Spinner-1s-200px.gif' %}" title="Fetching boundaries...">
        </div>

        <div id="basket-nav">
            <span id="basket-zoom" onclick="zoomToBasketLayer()">
                <!--Zoom all-->
                <img src="{% static 'images/zoom-out.png' %}">
            </span>
            <span id="basket-toggler" onclick="toggleBasket()">
                <img src="{% static 'images/basket.png' %}">
                <span class="basket-count" data-count="0">0</span>
            </span>
        </div>

        <div id="disambiguation-pane">

            <header id="header">
                <span class="logo"><a href="{% url 'home' %}">
                    <strong>Boundary Finder</strong></a> built by 
                    <a href="http://geolab.wm.edu">W&M geoLab</a>
                </span>
            </header>
        
            <form id="disambiguation-form" onsubmit="return requestUpdateDisambiguator()">
                <div id="disambiguation-search-bar">
                    <input id="disambiguation-search-input" type="text" placeholder='Search a boundary name, e.g. "Virginia, USA"' autofocus>
                    <button type="submit">
                        <span>Search</span>
                        <img style="visibility:hidden" src="{% static 'images/Spinner-1s-200px.gif' %}">
                    </button>
                </div>
                <div id="disambiguation-results-bar">
                    <div id="disambiguation-status"></div>
                    <div id="disambiguation-buttons" style="display:none">
                        <button type="button" class="button small" onclick="zoomToDisambiguationLayer()">
                            Zoom all
                            <!--<img src="{% static 'images/zoom-out.png' %}">-->
                        </button>
                    </div>
                </div>
            </form>

            <div id="disambiguation-geoms">
                <table id="disambiguation-geom-table" style="display:none">
                    <thead>
                        <tr>
                            <th>Boundary</th>
                            <th>Level</th>
                            <th>Year(s)</th>
                            <th>Match</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    {% comment %}
    {% if request.user.is_authenticated %}
        <span>Logged in as </span>
        <div class="dropdown">
            <div class="dropbtn" style="vertical-align:middle">
                <a>
                    <span>
                    {{ request.user.username }}
                    </span>
                </a>
            </div>
            <div class="dropdown-content">
                <a href="{% url 'logout' %}">
                    <span class="btn" style="margin: 30px">Logout</span>
                </a>
            </div>
        </div>
        <span>
            <a class="button small" style="margin-left:10px" href="{% url 'datasets' %}">Source Manager</a>
        </span>
    {% endif %}
    {% endcomment %}

</div>

<script src="{% static 'adminGeocoder/js/disambiguation-map.js' %}"></script>
<script src="{% static 'adminGeocoder/js/disambiguator.js' %}"></script>
