{% load static %}

<link rel="stylesheet" href="{% static 'adminGeocoder/css/map.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminGeocoder/css/geocoder.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminGeocoder/css/disambiguator.css' %}" type="text/css">

<div id="map-search-div">

    <div id="map">
    </div>
    
    <div id="search-pane" class="box">
    <form id="search-form" onsubmit="return geocode()">
        <div id="search-bar">
            <input name="search-input" type="text" autocomplete="off" class="form-control" autofocus>
            <button type="submit">Search</button>
        </div>
        <div id="search-options-bar">
            <span>
                <span class="results-count">0</span>
                search entries
            </span>
        </div>
        <div id="search-results">
        </div>
        <div id="export-bar">
            <button type="button" onclick="zoomMapToAllResults()">Preview</button>
            <a id="export-button" class="button button-primary" href="" onclick="exportResults()" download="admin-geocoder-export.geojson">Export as GeoJSON</a>
        </div>
    </form>
    </div>

</div>


<!----------------------->
<!-- Popups -->


<!-- Disambiguation -->

<div id="disambiguation-popup" class="popup is-hidden">
    <div class="popup-content" style="overflow:auto">

        {% include 'adminGeocoder/disambiguator.html' %}

    </div>
</div>




<script src="{% static 'adminGeocoder/js/map.js' %}"></script>
<script src="{% static 'adminGeocoder/js/disambiguation-map.js' %}"></script>
<script src="{% static 'adminGeocoder/js/disambiguator.js' %}"></script>
<script src="{% static 'adminGeocoder/js/geocoder.js' %}"></script>
