
.popup {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 5vh;
    padding: 20px;
    border-radius: 4px;
    width: 80vw;
    height: 90vh;
    overflow: auto;
}

.popup-open { overflow: hidden; }

.is-hidden { display: none; }

.is-visually-hidden { opacity: 0; }

.popup-buttons {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.loading-icon {
    height: 20px;
}
